.quest-success-page {
  .quest-action {
    flex-basis: 34%;
    align-items: center !important;
    .congo-text {
      font-weight: 900;
      font-size: 32px;
      line-height: 42px;
    }

    p {
      font-size: 22px;
      font-weight: 500;
      letter-spacing: -0.5px;
      color: $cgreen-700;
    }

    .action-btn {
      padding: 16px;
      border-radius: 16px;
      font-weight: 600;
      font-size: 17px;

      letter-spacing: -0.5px;
      color: #fff;
    }
  }
}
