.watch-video{
    .action-title{
        
    }
    .video-wrapper{
        background: rgba(31, 122, 85, 0.15);
        border-color: rgba(31, 122, 85, 0.15);
        iframe {
            width: 540px;
            height: 320px;
        }
        
        @media screen and (max-width: 767.98px) {
        iframe {
            width:auto;
            height:auto;
        }
          }
    }
}