.watch-video {
  .action-title {
  }
  .video-wrapper {
    background: rgba(31, 122, 85, 0.15);
    border-color: rgba(31, 122, 85, 0.15);
    .responsive-iframe {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .action-btn {
    font-weight: 900;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.5px;
    color: #fff;
    @media screen and (max-width: 767.98px) {
      font-weight: 900;
      font-size: 14px;
      line-height: 22px;
    }
  }
}
