.quest-page {
  .quest-wrapper {
    background: url("../../assets/images/desk-lamp.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    @media screen and (max-width: 767.98px) {
      background: unset;
    }

    .quest-details {
      flex-basis: 39%;
      padding: 20px 30px;
      @media screen and (max-width: 767.98px) {
        padding: 0;
      }

      .discription-box {
        .discription-text {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -0.5px;
          color: $cgreen-700;
        }
      }

      .social-box {
        .icons {
          .icon {
            background: $gradient-cgreen-3;
            height: 46px;
            width: 50px;
            border: 1px solid rgba(31, 122, 85, 0.25);
            border-radius: 12px;
          }
        }
      }
    }

    .quest-action {
      flex-basis: 39%;
      padding: 20px 30px 20px 50px;
      border-left: 2px solid rgba(31, 122, 85, 0.2);
      @media screen and (max-width: 767.98px) {
        border: unset;
        padding: 0;
      }
    }

    .quest-headings {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.5px;
      color: $cgreen-700;
      text-decoration-line: underline;
    }
  }
}
