.leaderboard-skeleton {
  .top-cards {
    border: 1px solid #c3ebcc;
    border-radius: 20px;
    padding: 16px 0;
    background: $gredient-green-1;
    @media screen and (max-width: 767.98px) {
      padding: 8px 12px;
    }
    .profile-img {
      height: 92px;
      width: 92px;
      @media screen and (max-width: 767.98px) {
        width: 42px;
        height: 42px;
      }
    }
    .line-1 {
      width: 83px;
      height: 24px;
      @media screen and (max-width: 767.98px) {
        width: 58px;
        height: 16px;
      }
    }

    .line-2 {
      width: 130px;
      height: 16px;
      @media screen and (max-width: 767.98px) {
        width: 209px;
        height: 14px;
      }
    }
    .line-3 {
      width: 90px;
      height: 16px;
    }
  }
  .top-users-table {
    flex-basis: 75%;
    @media screen and (max-width: 767.98px) {
      flex-basis: 100%;
    }

    .table-data > div > div {
      height: 12px;
      width: 75px;
      // @media screen and (max-width: 767.98px) {
      //   flex-basis: 12px;
      // }
    }

    .position {
      width: 25px !important;
    }
  }
}
