.sidenav {
  min-width: 80px;
  background-color: rgba($color: #fff, $alpha: 0.5);
  border-right: 1px solid;
  padding: 24px 0;
  .brand-logo {
    padding: 0 9.5px;
  }

  .tabs {
    padding: 10px 0;
    .icons {
      height: 17px;
      margin-bottom: 6px;
    }
    .active-icon {
      display: none !important;
    }
    span {
      font-size: 12px;
      font-weight: 500;
      color: $green-800;
    }
  }

  .active {
    .icons {
      display: none;
    }
    .active-icon {
      display: block !important;
    }
  }
}
