.sidenav {
  min-width: 90px;
  background-color: rgba($color: #fff, $alpha: 0.5);
  border-right: 1px solid;
  padding: 32px 0;
  .brand-logo {
  }

  .tabs {
    padding: 10px 0;
    .icons {
      height: 22px;
      margin-bottom: 6px;
    }
    span {
      font-size: 12px;
      font-weight: 700;
      color: $green-800;
    }
  }
}
