.myProfile {
  .pfp {
    .pfp-inner {
      .pfp-inner1 {
        color: $cgreen-700;

        .pfp-bg {
          background: $gradient-cgreen-2;
          height: 200px;
          width: 200px;
          border-radius: 50%;
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
            height: 100%;
          }
          p {
            font-weight: 900;
            font-size: 50px;
          }
          .upload-image {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            overflow: hidden;
            position: absolute;
            opacity: 0;
          }
          .pfp-background {
          }
        }
        .level-badge {
          display: flex;
          margin-top: -12px;
          background: linear-gradient(
              360deg,
              rgba(255, 226, 89, 0.5) -2.63%,
              rgba(237, 231, 218, 0.5) 100%
            ),
            #daeddb;
          padding: 0.5rem 1.25rem 4px 1.25rem;
          color: #451515;
          img {
            filter: drop-shadow(0px 4px 4px rgba(162, 125, 91, 0.36));
          }
        }
        .pfp-username {
          background: #1f7a5514;
        }
        .pfp-progress {
          width: 80%;
          .pfp-progressbar {
            border-radius: 100px;
            overflow: hidden;
            background-color: #1f7a5526;
            .pfp-progressbar-inner {
              border-radius: 100px;
              width: 5%;
              background: linear-gradient(
                90deg,
                #746fec -21.71%,
                #b0adf8 96.61%
              );
            }
          }
          .pfp-chip {
            background-color: #1f7a5526;
            border-color: $cgreen-border;
          }
        }
      }
      .pfp-inner2 {
        .fullname {
          background-color: #1f7a5515;
          border-color: $cgreen-border;
        }
      }

      .pfp-inner3 {
        margin-top: -3rem;
        background: url("../../assets/images/profile/profile_splash.png")
          no-repeat;
        background-size: 80%;
        background-position: 50% 100%;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .pfp-inner1 {
    width: 100% !important;
  }
  .pfp-inner2 {
    width: 80% !important;
  }
}
