.home {
  .home-wrapper-1 {
    .home-wrapper-1-inner {
      ::-webkit-scrollbar {
        height: 12px;
      }
      /* Track */
      ::-webkit-scrollbar-track {
        background: #1f7a5515;
        border-radius: 100px;
        overflow: hidden;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #1f7a5535;
        border-radius: 100;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #1f7a5545;
      }
    }
    .home-tasks {
      ::-webkit-scrollbar {
        height: 12px;
      }
      /* Track */
      ::-webkit-scrollbar-track {
        background: #1f7a5515;
        border-radius: 100px;
        overflow: hidden;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #1f7a5535;
        border-radius: 100;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #1f7a5545;
      }
    }
  }

  .fixed-daily-reward {
    background: linear-gradient(78.83deg, #7d18ff 7.27%, #ba78ff 86.9%), #ffffff;
    box-shadow: 0px -3px 14px #ffaffc;
    border-radius: 24px;
    padding: 8px 20px 10px 12px;
    right: 50px;
    bottom: 50px;
    z-index: 1;
    @media screen and (max-width: 767.98px) {
      right: 18px;
      bottom: 90px;
    }

    img {
      width: 50px;
    }

    p {
      font-weight: 900;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.5px;
      color: #fff;
    }
  }
}
