.watch-video-page {
  .quest-action {
    flex-basis: 40%;
    .video-box {
      height: 270px;
      padding: 8px 8px 24px;
      background: $action-card-gredient;
      border-radius: 20px;
      div {
        height: 100%;
        width: 100%;
        background-color: #fff;
        border-radius: 20px;
      }
    }

    .action-btn {
      padding: 16px;
      border-radius: 16px;
      font-weight: 600;
      font-size: 17px;
      line-height: 22px;
      letter-spacing: -0.5px;
      color: #fff;
    }
  }
}
