.emailVerification-page {
  background-color: rgba($color: #fff, $alpha: 0.5);
  @media screen and (max-width: 767.98px) {
    background-color: unset;
  }

  .left-content-box {
    min-width: 380px;
    @media screen and (max-width: 767.98px) {
      min-width: unset;
    }
    .m-heaidng {
      font-weight: 900;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -1.5px;
      @media screen and (max-width: 767.98px) {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.8px;
      }
    }

    .signup-btn {
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 0.35px;
      border-radius: 12px;
      color: #fff;
      padding: 14px 0;
    }
  }
}
