.special-quests {
  .specialcards-main {
    min-width: 450px;
    max-width: 540px;
    cursor: pointer;
    @media screen and (max-width: 767.98px) {
      min-width: 284px;
      max-width: 320px;
    }
    .wrapper {
      background: $gradient-cgreen-2;
      max-width: 540px;
      &:hover {
        .img-box {
          .card-img {
            transform: scale(1.05);
          }
        }
      }

      .img-box {
        position: relative;
        .card-img {
          transition: all 0.3s;
        }

        .card-chip {
          background: rgba(255, 255, 255, 0.5);
          border: 0;
          position: absolute;
          top: 5px;
          left: 5px;
          border-radius: 10px;
          padding: 4px 8px;

          span {
            color: $cgreen-700;
          }
        }
      }

      .card-title {
        color: #fff;
        font-weight: 900;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: -0.2px;
        padding: 7px 0;
        @media screen and (max-width: 767.98px) {
          font-size: 14px;
          line-height: 18px;
        }
      }

      .card-chip {
        background: rgba(255, 255, 255, 0.2);
        padding: 8px;
        border: 1px solid #ffffff;
        border-radius: 10px;
        span {
          font-weight: 900;
          font-size: 14px;
          line-height: 15px;
          color: #ffffff;
        }
      }
    }
  }

  .og-card {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.08),
        rgba(255, 255, 255, 0.08)
      ),
      linear-gradient(180deg, #df9df6 0%, #b26edc 42.39%, #c25ee5 100%) !important;
  }
  .slick-track {
    margin-right: initial;
    margin-left: initial;
  }
}
