.wallet-banner {
  background: linear-gradient(
      360deg,
      rgba(57, 187, 93, 0.3) -4.15%,
      rgba(226, 246, 225, 0) 106.57%
    ),
    #d4f1da;
  padding: 57px 52px 64px;
  background-image: url(../../../../assets/images/WalletBanner.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  @media screen and (max-width: 767.98px) {
    padding: 19px 17px 25px;

    background-size: 45%;
  }

  // h2 {
  //   font-weight: 900;
  //   font-size: 34px;
  //   line-height: 40px;
  //   letter-spacing: -0.8px;
  //   color: $cgreen-700;
  //   @media screen and (max-width: 767.98px) {
  //     font-size: 20px;
  //     line-height: 24px;
  //   }
  // }

  // button {
  //   padding: 12px 16px 14px;
  //   background: $gradient-cgreen-2;
  //   border-radius: 12px;
  //   min-width: 238px;

  //   @media screen and (max-width: 767.98px) {
  //     min-width: 138px;
  //     font-size: 12px;
  //     line-height: 14px;
  //   }
  // }

  .balance-wrapper {
    background: $gredient-green-2;
    padding: 30px 0px 15px;
    border-radius: 20px;
    width: 159px;
    @media screen and (max-width: 767.98px) {
      padding: 15px 0;
      width: 94px;
    }
    h4 {
      font-weight: 900;
      font-size: 64px;
      line-height: 67px;
      color: #fff;
      @media screen and (max-width: 767.98px) {
        font-weight: 900;
        font-size: 30px;
        line-height: 32px;
      }
    }

    p {
      font-weight: 700;
      font-size: 24px;
      line-height: 27px;
      color: #fff;
      @media screen and (max-width: 767.98px) {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}
