.comp-profile {
  .img-box {
    padding: 5px;
    height: 183px;
    width: 183px;
    background-color: $cgreen-400;
    @media screen and (max-width: 767.98px) {
      height: 165px;
      width: 165px;
    }
  }

  .name {
    .field-box {
      background: rgba(31, 122, 85, 0.1);
      border-radius: 10px;
      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #292929;
        @media screen and (max-width: 767.98px) {
          font-size: 14px;
          line-height: 19px;
        }
      }
    }
  }

  .social-box {
    .field-box {
      background: rgba(31, 122, 85, 0.1);
      border-radius: 10px;
      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: -0.25px;
        color: #375a56;
        @media screen and (max-width: 767.98px) {
          font-size: 14px;
          line-height: 19px;
        }
      }
    }
  }

  .heading {
    img {
      height: 27px;
    }
    span {
      font-weight: 900;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: -0.25px;
      @media screen and (max-width: 767.98px) {
        font-size: 13px;
        line-height: 16px;
      }
    }
  }
  .field-box {
    padding: 16px;

    @media screen and (max-width: 767.98px) {
      padding: 12px 14px;
    }
  }
}
