.constcards{
    .constcards-wrapper{
        .constcard-main{
            .taskchip{
                padding:8px 12px 8px 12px;
                background: #8EC48925;
                width: fit-content;
                
            }
        }
    }
}