.constcards {
  .constcards-wrapper {
    .constcards-main {
      min-height: 300px;
      min-width: 286px;
      background: #d6f1d9;
      border-color: #8ec48950;
      //   background-image: url(../../../../assets/images/home/thumb.png);
      background-repeat: no-repeat;
      background-size: 35%;
      .taskchip {
        padding: 10px 10px 10px 10px;
        background: #8ec48935;
        width: fit-content;
        border: 2px solid #8ec48935;
      }
      .taskbtn {
        background: $gradient-cgreen-2;
      }
    }
    .end-card {
      min-height: 300px;
      min-width: 622px;
      border-color: #8ec48950;
      background: #d6f1d9;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      background-image: url(../../../../assets/svg/cardAirdrop.svg);
      background-repeat: no-repeat;
      background-position: 90% center;
      p {
        font-size: 50px;
        font-weight: 900;
        line-height: 53px;
        letter-spacing: -1.2619px;
        color: rgba(25, 95, 86, 0.3);
      }
    }

    ::-webkit-scrollbar {
      height: 12px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
      background: #1f7a5515;
      border-radius: 100px;
      overflow: hidden;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #1f7a5535;
      border-radius: 100;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #1f7a5545;
    }
  }
}
