.emailVerification-page {
  .left-content-box-wrapper {
    flex-basis: 49.4%;
    background-color: rgba($color: #fff, $alpha: 0.5);
    @media screen and (max-width: 767.98px) {
      flex-basis: unset;
      flex-grow: 1;
      background-color: unset;
    }
    .left-content-box {
      min-width: 380px;
      @media screen and (max-width: 767.98px) {
        min-width: unset;
      }
      .m-heaidng {
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -1.5px;
        @media screen and (max-width: 767.98px) {
          font-size: 38px;
          line-height: 48px;
        }
      }

      .middle-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: rgba(90, 96, 100, 0.9);
        @media screen and (max-width: 767.98px) {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
}
