.oldtasks {
  .oldtasks-wrapper {
    .oldtasks-card {
      border-color: #8ec48950;
      .oldtask-row-1 {
        .oldtask-chip {
          background: #8ec48915;
          border-color: #8ec48950;
        }
      }
    }
  }
}
