.congratulation-page {
  background-color: rgba($color: #fff, $alpha: 0.5);
  @media screen and (max-width: 767.98px) {
    background-color: unset;
  }

  .left-content-box {
    min-width: 326px;
    @media screen and (max-width: 767.98px) {
      min-width: unset;
    }
    .m-heaidng {
      font-size: 38px;
      letter-spacing: -1.5px;
      line-height: 50px;
    }
    .devider {
      height: 2px;
    }
    .checkbox {
      width: 15px;
      height: 15px;
      accent-color: $green-800;
    }
  }
}
