// backgrounds
.bg-white-transparent {
  background-color: #f0faf0;
}

.bg-primary-100 {
  background-color: $green-100;
}

.bg-primary-200 {
  background-color: $green-200;
}

.bg-gredient-2 {
  background: $gredient-green-2;
}
.bg-gredient-1 {
  background: $gredient-green-1;
}

//borders
.border-primary-100 {
  border-color: $green-100;
}

.border-primary-200 {
  border-color: $green-200 !important;
}

//texts
.gredient-text {
  background: -webkit-linear-gradient(
    249.41deg,
    #4e8c74 11.53%,
    #1d6258 86.57%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gredient-text-2 {
  background: linear-gradient(89.8deg, #264b52 -1.81%, #417484 94.04%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-primary-800 {
  color: $green-800;
}

.text-primary-900 {
  color: $green-900;
}

// width
.width-90p {
  width: 90%;
}

// border sizes
.border-1 {
  border: 1px solid;
}

.brand-chip {
  padding: 4px 17px;
  img {
    height: 20px;
  }
}

.disabled {
  background-color: $disabled-btn-bg !important;
  background: unset;
  cursor: not-allowed;
}

.contained-effect {
  transition: 0.3s;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 4.028px 20.14px rgba(141, 191, 129, 0.7);
  }
  &:active {
    transform: scale(0.95);
  }
}

.outlined-effect {
  transition: 0.3s;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}

.skeleton-bg {
  background-color: grey;
}
