.custom-container {
    margin: 0 auto;
    width: 90%;
}

.contained-btn{
    background: $dark-gradiant;
}

.outlined-btn{
    &:hover{
        background: $dark-gradiant;
    }
}

.dark-bg-gradient-2{
    background: $dark-gradiant-2;
}

.light-bg-gradient{
    background: $light-gradiant;
}

.yellow-bg-gradient{
    background: $yellow-gradiant;
}

.green-bg-gradient{
    background: $green-gradiant;
}

.mobile-primary-text{
    color: $green-900
}

