
//gredients
$gredient-green-1: linear-gradient(180deg, #F4F8EC 0%, #E2F6E1 47.47%, #B6EDCF 104.26%, #DCF1DF 104.26%), #FFFFFF;
$gredient-green-2: linear-gradient(180deg, #94BF7E 0%, #479B77 100%);


//colors
$green-100: #8ec48926;
$green-200: #8ec48966;
$green-800: #1F7A55;
