// colors

$dark-gradiant: linear-gradient(86.85deg, #191B2E -0.23%, #616161 94.35%);
$dark-gradiant-2: linear-gradient(180deg, #191B2E 0%, #434343 136.9%);
$gray-gradiant: linear-gradient(0deg, rgba(0, 0, 0, 0.104) 0%, rgba(0, 0, 0, 0) 100%), #EEEEEE;
$light-gradiant: linear-gradient(86.85deg, #42434A -0.23%, #616161 94.35%);
$yellow-gradiant: linear-gradient(180deg, #FFBE18 0%, #EDFF18 100%);;