.upload-picture-action {
  .upload-picture-wrapper {
    padding: 20px;
    border: 2px solid rgba(31, 122, 85, 0.2);
    border-radius: 24px;
    &:focus-visible {
      padding: 15px;
    }

    .label {
      font-weight: 900;
      font-size: 11px;
      line-height: 16px;
      color: $cgreen-600;
      @media screen and (max-width: 767.98px) {
        line-height: 13px;
      }
    }

    .input-wrapper {
      //   .name-input {
      //     background: transparent;
      //     border: 1px solid rgba(31, 122, 85, 0.4);
      //     border-radius: 12px;
      //     padding: 28px 50px 10px 12px;
      //     font-size: 16px;
      //     line-height: 18px;
      //     letter-spacing: -0.1px;
      //     color: #2d2d2d;

      //     @media screen and (max-width: 767.98px) {
      //       padding: 22px 40px 8px 9px;
      //     }
      //     &:focus-visible {
      //       border: 1px solid rgba(31, 122, 85, 0.4) !important;
      //     }
      //   }

      //   .check-icon {
      //     width: 24px;
      //     top: 50%;
      //     right: 3%;
      //     transform: translatey(-50%);
      //   }
      .dropzone {
        padding: 36px 24px;
        border: 1px dashed #92c381;
        border-radius: 20px;
        background-color: $cgreen-200;
        transition: 0.4s;

        img {
          width: 55px;
          @media screen and (max-width: 767.98px) {
            width: 40px;
          }
        }

        .text {
          color: $cgreen-500;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -0.3px;
          @media screen and (max-width: 767.98px) {
            font-size: 13px;
            line-height: 18px;
          }
        }
      }
    }
  }
}
