.create-profile {
  .create-profile-wrapper {
    padding: 20px;
    border: 2px solid rgba(31, 122, 85, 0.2);
    border-radius: 24px;
    &:focus-visible {
      padding: 15px;
    }

    .label {
      font-weight: 900;
      font-size: 11px;
      line-height: 16px;
      color: $cgreen-600;
      @media screen and (max-width: 767.98px) {
        line-height: 13px;
      }
    }

    .name-input {
      background: transparent;
      border: 1px solid rgba(31, 122, 85, 0.4);
      border-radius: 12px;
      padding: 28px 12px 10px;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: -0.1px;
      color: #2d2d2d;

      @media screen and (max-width: 767.98px) {
        padding: 22px 9px 8px;
      }
      &:focus-visible {
        border: 1px solid rgba(31, 122, 85, 0.4) !important;
      }
    }
  }
}
