.codestep2{
    .codestep2-title{}

    .codestep2-wrapper{
        border: 2px solid rgba(31, 122, 85, 0.2);
        .codestep2-placeholder{
            background: rgba(31, 122, 85, 0.1);
            border: 0px solid rgba(31, 122, 85, 0.3);
            }
        }
            .codestep2-congrats{
                .codestep2-congrats-1{
                    .codestep2-congratstitle{
                        background: linear-gradient(180deg, #8FC175 0%, #3A906C 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;

                    }
                }
    }
}