.layout {
    .main-wrapper {
      padding-top: 70px;
      max-height: 100vh;
      overflow-x: scroll;
      @media screen and (max-width: 767.98px) {
        padding-top: 64px;
        padding-bottom: 118px;
      }
    }
  }